[probe]
pin: ^EBBCan:PA5 #^PG15
x_offset: 0
y_offset: 19.75
z_offset: 6.42
speed: 5
lift_speed: 10
samples:3
samples_result: median
sample_retract_dist: 0.5
samples_tolerance: 0.05
samples_tolerance_retries: 3


[quad_gantry_level]
gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25
speed: 200
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

##FOLLOW THE FORUMULA FOR relative_reference_index, for example:
##[(7x7)-1] / 2 = 24
##[(5x5)-1] / 2 = 12
[bed_mesh]
speed: 200
horizontal_move_z: 12
mesh_min: 30,30
mesh_max: 320,320
fade_start: 0.26
fade_end: 2
split_delta_z: 0.01
probe_count: 5,5
relative_reference_index: 12
algorithm: bicubic
mesh_pps: 2,2